@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap");
.pc {
  display: block;
}
@media (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media (max-width: 768px) {
  .sp {
    display: block;
  }
}

.pc-only {
  display: block;
}
@media (max-width: 991px) {
  .pc-only {
    display: none;
  }
}

.tab {
  display: none;
}
@media (max-width: 991px) {
  .tab {
    display: block;
  }
}

.pre-loader-02 {
  position: fixed;
  inset: 0;
  background-color: #ebf1ff;
  color: #2c2d34;
  z-index: 21;
  font-family: "Andada Pro", sans-serif;
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .pre-loader-02 {
    font-size: 30px;
  }
}
.pre-loader-02 .pro {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  line-height: 1.3;
}
@media (max-width: 480px) {
  .pre-loader-02 .pro {
    white-space: normal;
  }
}
.pre-loader-02 .pro span {
  display: inline-block;
  white-space: nowrap;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}
.pre-loader-02 .pro span.blue {
  color: #007aff;
}
.pre-loader-02 .name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1.5;
  text-align: center;
}
.pre-loader-02 .name .txt {
  opacity: 0;
}
.pre-loader-02 .name .bg {
  position: absolute;
  inset: 0;
  right: 100%;
  background-color: #007aff;
}